# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

git remote add origin https://github.com/srinivasanh7/Enterprise-Grade-To-Do-List.git
git remote add origin git@github-hs289:srinivasanh7/Enterprise-Grade-To-Do-List.git

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
